name: Publish Docker images

on:
  push:
    branches: [ master ]
  schedule:
    - cron:  '0 0 * * 0'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        versions: [7, 8, 11, 17]
        type: [jdk, jre]
        os: [alpine, debian]
    env:
      repo: "govpf/openjdk"
    steps:

    - name: Checkout
      uses: actions/checkout@v2.3.5

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1.6.0

    - name: Login to DockerHub
      uses: docker/login-action@v1.10.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build and push debian
      uses: docker/build-push-action@v2.7.0
      if: matrix.os == 'debian'
      with:
        context: .
        file: ./${{ matrix.versions }}/${{ matrix.type }}/${{ matrix.os }}/Dockerfile
        platforms: linux/amd64
        pull: true
        push: true
        tags: |
          ${{ env.repo }}:${{ matrix.versions }}-${{ matrix.type }}-${{ matrix.os }}

    - name: Build and push version 8 (alpine only)
      uses: docker/build-push-action@v2.7.0
      if: matrix.os == 'alpine'
      with:
        context: .
        file: ./8/${{ matrix.type }}/${{ matrix.os }}/Dockerfile
        platforms: linux/amd64
        pull: true
        push: true
        tags: |
          ${{ env.repo }}:8-${{ matrix.type }}-${{ matrix.os }}

    - name: Push aliases
      uses: docker/build-push-action@v2.7.0
      if: matrix.os == 'alpine'
      with:
        context: .
        file: ./8/${{ matrix.type }}/${{ matrix.os }}/Dockerfile
        platforms: linux/amd64
        pull: true
        push: true
        tags: |
          ${{ env.repo }}:8-${{ matrix.type }}

    - name: Update repo description
      uses: peter-evans/dockerhub-description@v2.4.3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
        repository: "${{ env.repo }}"
