name: Publish Docker images

on:
  push:
    branches: [ master ]
  schedule:
    - cron:  '0 0 * * 0'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # Continue other jobs if one fails
      matrix:
        versions: [8, 11, 17, 21]
        type: [jdk, jre]
        os: [alpine, debian]
    env:
      repo: "govpf/openjdk"
    steps:

    - name: Checkout
      uses: actions/checkout@v4.2.2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3.11.1

    - name: Login to DockerHub
      uses: docker/login-action@v3.3.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build and push debian
      uses: docker/build-push-action@v6.15.0
      with:
        context: .
        file: ./${{ matrix.versions }}/${{ matrix.type }}/${{ matrix.os }}/Dockerfile
        platforms: linux/amd64
        pull: true
        push: true
        tags: |
          ${{ env.repo }}:${{ matrix.versions }}-${{ matrix.type }}-${{ matrix.os }}

    # - name: Push aliases
    #   uses: docker/build-push-action@v6.15.0
    #   if: matrix.os == 'alpine'
    #   with:
    #     context: .
    #     file: ./8/${{ matrix.type }}/${{ matrix.os }}/Dockerfile
    #     platforms: linux/amd64
    #     pull: true
    #     push: true
    #     tags: |
    #       ${{ env.repo }}:8-${{ matrix.type }}

    - name: Update repo description
      uses: peter-evans/dockerhub-description@v4.0.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
        repository: "${{ env.repo }}"
